﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mst.Web</title>
    <environment names="Development, Staging, Production">
        <link href="~/lib/AdminLTE/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link href="~/lib/AdminLTE/dist/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/lib/AdminLTE/dist/css/skins/_all-skins.css" rel="stylesheet" />        
        <link rel="stylesheet" href="~/css/site.css" />        
    </environment>
    @RenderSection("CSS",required:false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini">Меню</span>
            <span class="logo-lg">Администрирование</span>
        </a>
        <nav class="navbar navbar-static-top" >
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </a>             
            @await Html.PartialAsync("_LoginPartialView")
        </nav>
    </header>

    <!-- =============================================== -->
    <aside class="main-sidebar">
        <section class="sidebar">                            
            <form asp-controller="Search" asp-action="Index" method="post" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="querry" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">Меню</li>                                    
                <li>
                    <a asp-controller="User">
                        <i class="fa fa-th"></i> <span>Пользователи</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Access">
                        <i class="fa fa-th"></i> <span>Роли</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">            
        <section class="content">
            @RenderBody()
        </section>
    </div>
</div>
<!-- =============================================== -->
<environment names="Development, Staging, Production">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/AdminLTE/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/AdminLTE/plugins/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/lib/AdminLTE/plugins/fastclick/fastclick.js"></script>
    <script src="~/lib/AdminLTE/dist/js/app.js"></script>
    <script src="~/lib/AdminLTE/dist/js/demo.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
@RenderSection("Scripts", required: false)
</body>
</html>
