﻿@using System.Threading.Tasks
@using Microsoft.AspNetCore.Identity
@using Mst.Core.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext ContextDb

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu" style="float: left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="@ContextDb.Users.ToList().Find(x=>x.Id.Equals(UserManager.GetUserId(User))).Avatar" class="user-image" alt="User Image">
                    <span class="hidden-xs">@UserManager.GetUserName(User)</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src="@ContextDb.Users.ToList().Find(x=>x.Id.Equals(UserManager.GetUserId(User))).Avatar" class="img-circle" alt="User Image">
                        <p>
                            @UserManager.GetUserName(User)                            
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a asp-controller="User" asp-action="CreateOrEdit" asp-route-id="@UserManager.GetUserId(User)" class="btn btn-default btn-flat">Профиль</a>
                        </div>
                        <div class="pull-right">
                            <a asp-controller="Account" asp-action="LogOut" class="btn btn-default btn-flat">Выйти</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></li>
    </ul>
}