﻿@using Mst.Core.Models

@model IEnumerable<Mst.Core.Models.DirectoryConfig>
@{
    ViewBag.Title = "Конфигурация системы";
    Layout = "_Layout";
}
@section CSS{
    <link href="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Конфигурация системы</h3>
        </div>
        <div class="box-body">
            <table id="users" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Дирректория</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var config in Model)
                    {
                        <tr>
                            <td>@config.Id</td>
                            <td>@config.BaseDirectory</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
}