﻿@model IEnumerable<Mst.Core.Tools.DataGeneric.DataItem>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Таблицы";
}

@section CSS{
    <link href="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">@ViewData["Title"]</h3>
        </div>
        <div class="box-body">
            <table id="index_table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Внутренний тип данных</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Type.Name</td>
                            <td>
                                <a href="#">Изменить</a> |
                                <a href="#">Данные</a> |
                                <a href="#">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
}