﻿@model Mst.Web.Models.AccountViewModels.CreateUserViewModel
@{
    Layout = "_Layout";
}

<form asp-action="UserCreate" method="post">

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Email" asp-for="model.Email">
            <span asp-validation-for="model.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Имя" asp-for="model.FirstName">
            <span asp-validation-for="model.FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Фамилия</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Фамилия" asp-for="model.Surname">
            <span asp-validation-for="model.Surname" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Отчество</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Отчество" asp-for="model.FatherName">
            <span asp-validation-for="model.FatherName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Пароль" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Повторите пароль</label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="Повторите пароль" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Добавить</button>
        </div>
    </div>
</form>
@section Scripts{
    @Html.RenderPartialAsync("_ValidPartialView");
}