﻿@model Mst.Web.Models.AccountViewModels.UpdateUserViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.model.UserName;
}
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="@Model.model.Avatar" alt="User profile picture">
                    <h3 class="profile-username text-center">@Model.model.UserName</h3>
                    <ul class="list-group list-group-unbordered">                        
                        <li class="list-group-item">
                            <b>Email</b> <a class="pull-right">@Model.model.Email</a>
                        </li>                        
                    </ul>            
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#timeline" data-toggle="tab">Хронология</a></li>
                    <li><a href="#settings" data-toggle="tab">Настройки пользователя</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="timeline">
                        <ul class="timeline timeline-inverse">
                            <li class="time-label">
                                <span class="bg-red">
                                    10 Feb. 2014
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-envelope bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs">Read more</a>
                                        <a class="btn btn-danger btn-xs">Delete</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user bg-aqua"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                                    </h3>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-comments bg-yellow"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                    <div class="timeline-body">
                                        Take me to your leader!
                                        Switzerland is small and neutral!
                                        We are more like Germany, ambitious and misunderstood!
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                    </div>
                                </div>
                            </li>        
                        </ul>
                    </div>
                    <div class="tab-pane" id="settings">
                        <form class="form-horizontal" method="post" asp-action="UserEdit">
                            <input type="hidden" asp-for="model.Id"/>
                            <div class="form-group">
                                <label asp-for="model.FirstName" class="col-sm-2 control-label">Имя</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Имя" asp-for="model.FirstName">
                                    <span asp-validation-for="model.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="model.Surname" class="col-sm-2 control-label">Фамилия</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Фамилия" asp-for="model.Surname">
                                    <span asp-validation-for="model.Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="model.FatherName" class="col-sm-2 control-label">Отчество</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Отчество" asp-for="model.FatherName">
                                    <span asp-validation-for="model.FatherName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="model.Email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" placeholder="Email" asp-for="model.Email">
                                    <span asp-validation-for="model.Email" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="model.PhoneNumber" class="col-sm-2 control-label">Номер телефона</label>
                                <div class="col-sm-10">
                                    <input  class="form-control" placeholder="Номер телефона" asp-for="model.PhoneNumber">
                                    <span asp-validation-for="model.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="OldPassword" class="col-sm-2 control-label">Старый пароль</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Старый пароль" asp-for="OldPassword">
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-sm-2 control-label">Новый пароль</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Пароль" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="col-sm-2 control-label">Повторите пароль</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Повторите пароль" asp-for="ConfirmPassword">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select-access-items" class="col-sm-2 control-label">Уровень доступа</label>
                                <div class="col-sm-10">
                                    <select asp-for="Accesses" hidden>
                                        @{
                                            foreach (var modelAccess in Model.PosibleAccesses)
                                            {
                                                <option value="@modelAccess.Id" data-href="access-@modelAccess.Id">@modelAccess.Name</option>
                                            }
                                        }                                        
                                    </select>
                                    <ul class="list-group" id="select-access-items">
                                        @{ 
                                            foreach (var modelAccess in Model.PosibleAccesses)
                                            {
                                                <li class="list-group-item col-sm-2" data-href="access-@modelAccess.Id">@modelAccess.Name<i class="fa fa-fw fa-check" style="display: none;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Обновить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @{
        Html.RenderPartialAsync("_ValidPartialView");
    }
    <script>
        window.delayedFunction['set-multiselect-access'] = function ()
        {
            window.AccessItems = [];
            $('.list-group-item').each(function () {
                var temp = new MultiSelectItems(this);
                window.AccessItems.push(temp);
            });
        }
    </script>
}