﻿@using Mst.Core.Models

@model IEnumerable<Mst.Core.Models.ApplicationUser>
@{
    ViewData["Title"] = "Пользователи";
    Layout = "_Layout";
}
@section CSS{
    <link href="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">@ViewData["Title"]</h3>
            <a class="btn btn-link" asp-action="CreateOrEdit">Создать нового пользователя</a>
        </div>        
        <div class="box-body">
            <table id="users-table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Аватар</th>
                        <th>Username</th>
                        <th>Почта</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model)
                    {
                        <tr>
                            <td>
                                <img class="profile-user-img img-responsive img-circle" style="max-height: 30%;max-width:30%" src="@user.Avatar" alt="Аватар">
                            </td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                <a class="btn btn-default btn-group" asp-action="CreateOrEdit" asp-route-id="@user.Id">Подробнее</a>
                                <a class="btn btn-default btn-group" data-post="@user.Id" asp-action="Delete">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
    <script>
        window.delayedFunction["set-index-table"] = function ()
        {
            window.IndexTable = new TableObject("#users-table");
        }
    </script>
}