﻿@model Mst.Web.Models.AccessCreateOrEditModel
@{
    Layout = "_Layout";
    ViewData["Title"] = $"Форма создания/редактирования роли {Model.model.Name}";
}


<form class="form-horizontal" method="post" asp-action="AccessCreateOrEdit">

    @{ 
        if (Model.model.Id > 0)
        {
            <input asp-for="model.Id" hidden/>
        }
    }

    <div class="form-group">
        <label asp-for="model.Name" class="col-sm-2 control-label">Название</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="model.Name">
            <span asp-validation-for="model.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2" style="text-align:right;">Правила</label>
        <div class="col-sm-10">
            <select asp-for="Rules" hidden>
                @{ 
                    foreach (var item in Model.PosibleRules)
                    {
                        <option value="@item.Id" data-href="rules-@item.Name">@item.Name</option>
                    }
                }
            </select>
            <ul class="list-group" id="select-rules-items">
                @{ 
                    foreach (var item in Model.PosibleRules)
                    {
                        <li class="list-group-item col-sm-2" data-href="rules-@item.Name">@item.Name<i class="fa fa-fw fa-check" style="display: none;"></i></li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Добавить</button>
        </div>
    </div>
</form>

@section Scripts{
    @{
        Html.RenderPartialAsync("_ValidPartialView");
    }
    <script>
        window.delayedFunction['set-multiselect-rules'] = function ()
        {
            window.RulesItems = [];
            $('.list-group-item').each(function () {
                var temp = new MultiSelectItems(this);
                window.RulesItems.push(temp);
            });
        }
    </script>
}


