﻿@model IEnumerable<Mst.Core.Models.ApplicationAccess>
@{
    ViewData["Title"] = "Роли";
    Layout = "_Layout";
}
@section CSS{
    <link href="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">@ViewData["Title"]</h3>
            <a class="btn btn-link" asp-action="CreateOrEdit">Добавить новую роль</a>
        </div>
        <div class="box-body">
            <table id="index-table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th>Правила</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                @{
                                    foreach (var role in item.Roles)
                                    {
                                        @role.Role.Name 
                                    }
                                }
                            </td>
                            <td>
                                <a class="btn btn-default btn-group" asp-action="CreateOrEdit" asp-route-id="@item.Id">Подробнее</a>
                                <a class="btn btn-default btn-group" data-post="@item.Id" asp-action="Delete">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
    <script>
        window.delayedFunction["set-index-table"] = function ()
        {
            window.IndexTable = new TableObject("#index-table");
        }
    </script>
}