﻿@model Mst.Web.Models.AccountViewModels.RegisterViewModel
@{
    Layout = null;
    ViewData["Title"] = "Регистрация";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development, Staging, Production">
        <link href="~/lib/AdminLTE/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link href="~/lib/AdminLTE/dist/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/lib/AdminLTE/plugins/iCheck/square/blue.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body class="hold-transition register-page">
<div class="register-box">
        <div class="register-box-body">
        <p class="login-box-msg">@ViewData["Title"]</p>

            <form asp-action="Registration" method="post">
                
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Почта" asp-for="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Пароль" asp-for="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Повторите пароль" asp-for="ConfirmPassword">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Зарегистрироваться</button>
                    </div>
                </div>

            </form>                
    </div>
</div>

<environment names="Development, Staging, Production">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/AdminLTE/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/AdminLTE/plugins/iCheck/icheck.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</environment>
</body>
</html>