﻿@using Mst.Core.Models
@using System.Reflection;

@model Mst.Core.ViewModels.IndexTableViewModel
@{
    ViewData["Title"] = "Список элементов";
    Layout = "_Layout";
}
@section CSS{
    <link href="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">@ViewData["Title"]</h3>
        </div>
        <div class="box-body">
            <table id="users" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        @{
                            foreach (var item in Model.ColumnNames)
                            {
                                <th>@item</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        foreach (var item in Model.Items)
                        {
                            <tr>
                                @{ 
                                    foreach (var value in item)
                                    {
                                        <td>@value</td>
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
}